/* ================================ */
/* GENERAL================================ */

body,
#mainSecondary{
    margin: 0;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;

}


/* ================================ */
/* MENU================================ */

/* homepage */
#menu,
#menuMoblie{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 6em;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}

#menuMoblie,
#secondaryMenuMoblie{
    display: none;
}

#menuWork{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

#menuType{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

#menuPhotos{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
#menuAbout{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.menuFill{
    -webkit-text-fill-color: red;
}

/* secondary pages */
#secondaryMenu{
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    top: 0;
    right:0;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 3.5em;
    color: red;
    text-align: right;
    line-height: 90%;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.active{
    -webkit-text-fill-color: red;
}


/* ================================ */
/* MAIN BODY================================ */

#slideContain{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -100;

    /* background-image: url("../../assets/76210015.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* ================================ */
/* ABOUT================================ */
#aboutContainer{
    margin-left: 10%;
    width: 80%;
    margin-top: 10px;
    display: flex;
    position: relative;
}

#name_img{
    font-weight: 600;
    text-align: left;
    width: 100%;
    color: black;
    position: relative;
    font-size: 10vw;
}

#aboutImg{
    width: 70%;
    height: 60vw;

    background-image: url('../../assets/photos/IMG_2200.jpg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutName{
    position: absolute;
    top: 10px;
    left: 10px;
}

#aboutBio{
    font-size: 3vw;
    font-weight: 600;
    line-height: 95%;
    position: absolute;
    bottom: 0;
    padding-left: 57%;
    padding-bottom: 10px;
    color: red;
}

#contactContainer{
    margin-left: 10%;
    width: 80%;
    height: 3em;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.contactHover{
    color:red;
}


/* ================================ */
/* PHOTO PAGE================================ */
#overflowContainer {
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    overflow-y: hidden;

    height: 100vh;
}

.photospic{
    height: 100%;
}


/* ================================ */
/* TEXT PAGE================================ */

#textContainer{
    width: 95%;
    margin: 0 auto;
}

.text{
    text-align: center;
    width: 100%;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 15px;
    border: black solid 8px;
}

.alphaVertImg{
height: 100%;
margin-right: 15px;

}

.dispText{
    width: 75%;
    margin-bottom: 10px;

}

.burmaImg,
.bobbiImg,
.miscImg{
    vertical-align: sub;
}

#burmaText{
    background-image: url('../../assets/type/burma/burma_g.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bobbiText{
    background-image: url('../../assets/type/bobbi/bobbi_a.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#miscellanyText{
    background-image: url('../../assets/type/misc/misc_R.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertMoblie{
    display: none;
}