/* ================================ */
/* GENERAL================================ */

body,
#mainSecondary{
    margin: 0;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;

}


/* ================================ */
/* MENU================================ */

/* homepage */
#menu,
#menuMoblie{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 6em;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}

#menuMoblie,
#secondaryMenuMoblie{
    display: none;
}

#menuWork{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
}

#menuType{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

#menuPhotos{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
#menuAbout{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.menuFill{
    -webkit-text-fill-color: red;
}

#nameIndex{
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 900;
    font-size: 6em;
    text-align: center;
    line-height: 90%;
    color: red;
}

/* secondary pages */
#secondaryMenu{
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    top: 0;
    right:0;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 3.5em;
    color: red;
    text-align: right;
    line-height: 90%;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.active{
    -webkit-text-fill-color: red;
}


/* ================================ */
/* MAIN BODY================================ */

#slideContain{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -100;

    /* background-image: url("../../assets/76210015.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* ================================ */
/* ABOUT================================ */
#aboutContainer{
    margin-left: 10%;
    width: 80%;
    margin-top: 10px;
    display: flex;
    position: relative;
}

#name_img{
    font-weight: 600;
    text-align: left;
    width: 100%;
    color: black;
    position: relative;
    font-size: 10vw;
}

#aboutImg{
    width: 70%;
    height: 60vw;

    background-image: url('../../assets/photos/IMG_2200.jpg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutName{
    position: absolute;
    top: 10px;
    left: 10px;
}

#aboutBio{
    font-size: 3vw;
    font-weight: 600;
    line-height: 95%;
    position: absolute;
    bottom: 0;
    padding-left: 57%;
    padding-bottom: 10px;
    color: red;
}

#contactContainer{
    margin-left: 10%;
    width: 80%;
    height: 3em;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.contactHover{
    color:red;
}


/* ================================ */
/* PHOTO PAGE================================ */
#overflowContainer {
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    overflow-y: hidden;

    height: 100vh;
}

.photospic{
    height: 100%;
    margin-left: 15px;
    margin-top: 15px;
}


/* ================================ */
/* TEXT PAGE================================ */

#textContainer{
    width: 95%;
    margin: 0 auto;
}

.text{
    text-align: center;
    width: 100%;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 15px;
    border: black solid 8px;
}

.alphaVertImg{
height: 100%;
margin-right: 15px;

}

.dispText{
    width: 75%;
    margin-bottom: 10px;

}

.burmaImg,
.bobbiImg,
.miscImg{
    vertical-align: sub;
}

#burmaText{
    background-image: url('../../assets/type/burma/burma_g.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bobbiText{
    background-image: url('../../assets/type/bobbi/bobbi_a.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#miscellanyText{
    background-image: url('../../assets/type/misc/misc_R.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#zineText{
    background-image: url('../../assets/photos/A1C05E04-CB9A-4219-B7A1-2415EE4AB015.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertMoblie{
    display: none;
}

.dispText:hover{
    cursor: pointer;
}

/* ================================ */
/* SECONDAY TEXT PAGE================================ */

.alphaLayered{
    display: none;
}

#textSec{
    display: flex;
    flex-direction: row;
}

#flexCont{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detialBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

.detialBoxSub{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

.detials{
    margin: 5px;
    border: black solid 8px;
    width: 100%;
    height: 25vh;
}

.detialText{
    margin: 5px;
    border: transparent solid 8px;
    width: 100%;
}

.typeDiscription{
    text-align: right;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

.contAlph{
    margin: 5px;
    width: 30%;
    border: none;
}

#vertDetial{
    height: 95vh;
}

.punct_numbers_img{
    width: 100%
}

.downloadButton{
    text-align: center;
    height: 2em;
    font-size: 1.5em;
    font-weight: 600;
    background-color: black;
    color: red;
    position: relative;
}
.downloadText{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
}

.downloadButton:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}



/* BURMA TYPE PAGE */
.vertDetialMobile{
    display: none;
}

.contBurm1{
    background-image: url('../../assets/type/burma/burma_g.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contBurm2{
    background-image: url('../../assets/type/burma/burma_g.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contBurm3{
    background-image: url('../../assets/type/burma/burma_g.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.contBurm4{
    background-image: url('../../assets/type/burma/burma_fullLoop.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 8px;

}
.contBurm5{
    background-color: black;
}

.numbersImg,
.punctImg{
    display: none;
}

/* BOBBI TYPE PAGE */
.contBob1{
    background-image: url('../../assets/type/bobbi/bobbi_a.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contBob2{
    background-image: url('../../assets/type/bobbi/bobbi_a.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contBob3{
    background-image: url('../../assets/type/bobbi/bobbi_a.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.contBob4{
    background-image: url('../../assets/type/bobbi/bobbi_fullLoop.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 8px;

}
.contBob5{
    background-color: black;
}

/* MISCELLANY TYPE PAGE */
.contMisc1{
    background-image: url('../../assets/type/misc/misc_R.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contMisc2{
    background-image: url('../../assets/type/misc/misc_R.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contMisc3{
    background-image: url('../../assets/type/misc/misc_R.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.contMisc4{
    background-image: url('../../assets/type/misc/miscDis_fullLoop.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 8px;
}

.contMisc5{
    background-image: url('../../assets/type/misc/miscSolid_fullLoop.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 8px;
}

/* ================================ */
/* WORK PAGE================================ */

.workContainer{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 100%;
    height: 90vh;
    margin-top: 15px;
    padding: 20px;
    border: black solid 8px;
}

.workHeader{
    height: 100%;
    margin-right: 10px;
}

.workHeader:hover{
    background-color: red;
}

.workPhotos_discription{
    display: flex;
    width: 100%;
}

.workRightDisc_Img{
    width: 100%;
}

.workPhotoTop{
    background-image: url('../../assets/work/zine/typeSpecimen.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 50%;
}

.workDis{
    width: 100%;
    height: 50%;

    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    text-align: right;
}

.workImgLeft{
    background-image: url('../../assets/photos/A1C05E04-CB9A-4219-B7A1-2415EE4AB015.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
    margin-left: 10px;
}






/* .workImgContainer{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
}

.imgTextMobile{
    display: none;
}

.textContainer{
    width: 100%;
}

.workText{
    text-align: right;
}

.workTitle{
    font-size:3.8vw;
    font-weight: 800;
    line-height: 90%;
    padding-top: 20%;
}

.workTitle:hover{
    color:red;
    cursor: pointer;
}

.workDiscription{
    font-size: 2vw;
    font-weight: 600;
    line-height: 95%
}

.click:hover{
    color: darkslategrey;
    cursor: pointer;
}

#zineImg{
    background-image: url('../../assets/photos/A1C05E04-CB9A-4219-B7A1-2415EE4AB015.JPG');
}

#newspaperImg{
    background-image: url('../../assets/work/0516_scsum_A01_C.png')
} */